 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Kalnia:wght@200&family=Krona+One&family=Montserrat:wght@600&display=swap');
   
:root {
    --font-family:  'Inter', sans-serif;
    --background-color:#FFE4D6 ;
    --primary-color:#D988B9 ;
    
   }

   body{
    background-color: var(--background-color);
    color: var(--primary-color);
    min-height:100vh ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
   }

   h1{
    font-size: 5em;
   }

   h2{
    font-size: 4em;
   }

   h3{
    font-size: 2em;
    margin-top: 20px;
   }

   .mensagem{
    font-size: 1.5em;
    margin-top: 40px;

   }

   .box{
    border: 2px solid  var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
   }

   .btn-jogar{
    padding: 8px 15px;
    border: 0;
    background-color: var(--primary-color);
    border-radius: 5px;
    margin-top: 20px;
    color:var(--background-color)
   }

   .footer{

  bottom: 0px;
  width: 90%;
  text-align: center;
  height: 2.5rem;            
}
   